﻿@model IEnumerable<ContactBook.Models.Contact>

<h2>Index</h2>
<h3 style="float:left;">Total Contacts: @Html.Action("Count",new { friendsOnly = false })</h3>
<h3 style="float:right;">Total Friends: @Html.Action("Count", new { friendsOnly = true })</h3>
<div style="clear:both"></div>
<div class="row" style="text-align:center">
    <div class="col-xs-4">@Html.ActionLink("Create New", "Create")</div>
    <div class="col-xs-4"><input type="text" id="textbox"/></div>
    <div class="col-xs-4">@Html.ActionLink("Delete All", "DeleteAll")</div>
</div>
<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>E-mail</th>
        <th>Adress</th>
        <th>City</th>
        <th>Zip Code</th>
        <th>Friend?</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="contact-single">
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isFriend)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonId })
        </td>
    </tr>
}

</table>
